@{
    ViewBag.Title = "Index";
}

<h1>This is the start of an MVC website!</h1>
<h2>The Environment is: <span style="color:red;">@ViewBag.environment</span> and the site is: <span style="color:red;">@ViewBag.site</span></h2>

<p>Demo for Pam and Mark</p>

<p>This is another change for The other demo!</p>

<p>A change in the trunk</p>